/* body and grid */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* INSTRUCTIONS */
.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 40px;
  /* display: none; */
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  color: red;
  margin-top: 12px;
}
p {
  font-family: 'Gugi', cursive;
}
p:first-of-type {
  padding: 15px 10px;
  text-transform: uppercase;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  margin: 30px 0;
}
p:nth-of-type(2) {
  margin-bottom: 10px;
}

/* GRID */
.grid {
  height: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow:1;
  max-height: 600px;
  max-width: 600px;
  background-color: black;
}
.grid div {
  border: 1px solid rgba(255, 0, 0, .2);
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

/* player */
.grid div.player {
  background-image: url("../assets/Jelly\ copy\ 4.png") ;
  background-size: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  
}

/* alien */
.grid div.jelly {
  background-image: url("../assets/Jelly\ copy.png");
  background-size: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

/* player bullet */
.grid div.bullet {
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.explosion {
  border-radius: 50%;
  background-color: yellow;
  background-position-x: 0;
  background-position-y: 0;
}

.hide {
  display: none;
}

.winning-text {
  max-height: 600px;
  max-width: 600px;
  padding-left: 100px;
  text-align: center;
  
}
.winning-text > h2 {
  font-size: 100px;
  color: rgb(255, 0, 0);
  margin-bottom: 30px;
}

.losing-text {
  max-height: 600px;
  max-width: 600px;
  padding-left: 100px;
  text-align: center;
}

.losing-text h2:nth-of-type(1) {
  font-size: 90px;
  color: rgb(0, 0, 0);
}

.losing-text h2:nth-of-type(2) {
  font-size: 40px;
  color: rgb(255, 0, 0);
  margin-top: 30px;
}

.losing-text h2:nth-of-type(3) {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin: 30px 0;
}

.reset, .startButton {
  background-color: black;
  border: 2px solid red;
  color: white;
  font-size: 20px;
  padding: 12px 15px;
  text-transform: uppercase;
  font-family: 'Gugi', cursive;
  outline-width: 8px;
}

.winReset {
  outline-color: red;
}

.loseReset {
   outline-color: black;
}

.welcomePage {
  max-width: 600px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  
}
.welcomeImage {
  background-image: url("../assets/New\ Piskel-1.png\ \(2\).png");
  height: 300px;
  width: 420px;
  background-position: cover;
  background-repeat: no-repeat;
}

.startButton {
  width: 100px;
  margin-top: 20px;
  outline-color: red;
}